@model Filminurk.Models.AccuWeather.AccuWeatherSearchViewModel
<div class="container">
    <h2>Ilmaennustus</h2>




    <div>
        <dt class="col-sm-2"
            severity
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model)
    </div>

</div>